{% use 'form_div_layout.html.twig' %}

{# Customizing the form rows #}

{% block form_row %}
    <div class="flex flex-col gap-2 w-full">
        {{ form_label(form, null, { 'label_attr': { 'class': 'inlin-block' } }) }}
        {{ form_widget(form, { 'attr': { 'class': 'p-1 border-2 rounded-md focus:outline-red-600' } }) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{# Customize the form errors #}
{# {% block form_errors %}
    {% if errors|length > 0 %}
        <div class="text-red-600 text-sm">
            {{ errors|join(', ') }}
        </div>
    {% endif %}
{% endblock %} #}