{% extends 'index.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}
<section class="max-w-8xl m-auto px-3 py-12 flex justify-center items-center min-h-[calc(100vh-69px)] bg-gray-100">
    <div class="bg-white shadow-lg rounded-lg w-full max-w-md p-6">
        <div class="text-center mb-6">
            <h1 class="text-4xl font-bold text-gray-800">Connexion</h1>
            <p class="text-gray-600 mt-2">Connectez-vous pour accéder à votre compte.</p>
        </div>

        <form method="post" class="flex flex-col gap-4">
            {% if error %}
                <div class="bg-red-100 text-red-600 border border-red-600 rounded-md p-3 text-center">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <div class="flex flex-col gap-2">
                <label for="username" class="font-medium text-gray-700">Adresse mail :</label>
                <input type="email" value="{{ last_username }}" class="border-2 rounded-md p-3 w-full focus:ring-red-600 focus:border-red-600" name="_username" id="username" autocomplete="email" required autofocus>
            </div>

            <div class="flex flex-col gap-2">
                <label for="password" class="font-medium text-gray-700">Mot de passe :</label>
                <input type="password" class="border-2 rounded-md p-3 w-full focus:ring-red-600 focus:border-red-600" name="_password" id="password" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="px-2 py-1 bg-red-600 rounded text-white font-medium">
                Me connecter
            </button>

            <div class="text-center mt-4">
                <a href="" class="text-sm text-gray-500 hover:text-red-600">
                    Mot de passe oublié ?
                </a>
            </div>
        </form>
    </div>
</section>
{% endblock %}
