<form method="post" action="{{ path('supplier_delete', {'id': supplier.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ supplier.id) }}">
    <button class="px-4 py-2 font-medium text-white bg-red-600 rounded">Supprimer</button>
</form>