{% extends 'index.html.twig' %}

{% block title %}Fournisseur{% endblock %}

{% block main %}
    <section class="max-w-8xl m-auto">
        <h1 class="4xl">Fournisseur</h1>
    </section>
{% endblock %}
