@tailwind base;
@tailwind components;
@tailwind utilities;

.burger-active{
    div{
        span:nth-child(1){
            top: 50%;
            transform: rotate(45deg);
            transition: all 0.15s;
        }

        span:nth-child(2){
            top: 50%;
            transform: rotate(-45deg);
            transition: all 0.15s;
        }

        span:nth-child(3){
            display: none;
            transition: all 0.15s;
        }
    }
}