<header class="w-full px-3 py-4 bg-white border-b absolute top-0 left-0 z-20">
	<nav class="max-w-7xl m-auto flex items-center justify-between">
		<a href="#">
			<p class="font-sans text-2xl font-semibold sm:text-3xl">Flexi<span class="text-red-600">Fleet</span>
			</p>
		</a>

		<div id="burger-menu" class="sm:hidden w-7 h-4">
			<div class="stripes w-full h-full relative">
				<span class="h-[3px] inline-block w-full bg-red-600 rounded absolute top-0 transition-all"></span>
				<span class="h-[3px] inline-block w-full bg-red-600 rounded absolute top-1/2 transition-all"></span>
				<span class="h-[3px] inline-block w-full bg-red-600 rounded absolute top-full transition-all"></span>
			</div>
		</div>
		<ul class="hidden sm:flex sm:gap-3">
            <li class="px-2 py-1 bg-red-600 rounded text-white font-medium"><a href="#">Inscription</a></li>
            <li class="px-2 py-1 border-2 border-red-600 rounded font-medium"><a href="#">Connexion</a></li>
        </ul>
	</nav>
    <div id="mobile-log-links" class="hidden w-32 absolute right-3 top-14 border rounded px-3 py-4 bg-white">
        <ul class="flex flex-col gap-2">
            <li><a href="#">Inscription</a></li>
            <li><a href="#">Connexion</a></li>
        </ul>
    </div>
</header>
