<form action="{{ path('admin_supplier_delete', { id: supplier.id }) }}" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<button type="submit" class="px-2 py-1 border-2 border-red-600 rounded font-medium text-red-600 hover:bg-red-600 hover:text-white">
		Supprimer
	</button>
</form>

